*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(32, 32, 32);
    color: #c1c1c1;
    padding: 16px;
}

img{
    width: 3%;
}

header input{
    width: 24%;
    border-radius: 8px;
    border: none;
    text-align: center;
    outline: none;
}

header button{
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: rgb(70, 70, 70);
    transition: 0.5s;
}

header button:hover{
    background-color: rgb(49, 49, 49);
    transition: 0.5s;
}

header button a{
    text-decoration: none;
    color: #c1c1c1;
}

/*Footer*/

footer{
    background-color: rgb(32, 32, 32);
    padding: 16px;
    align-items: center;
    text-align: center;
    color: #c1c1c1;
}