*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    color: white;
    border-bottom: 5px solid #89f0f0;
    padding: 16px;
    align-items: center;
    background-color: #89aff0;
    text-align: center;
}

.center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-left: 150px;
}

button{
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #89cff0;
    border: 1px solid #89f0f0;
    cursor: pointer;
    transition: 0.7s;
}

input{
    border-radius: 8px;
    padding: 8px 16px;
    border: 1px solid #89f0f0;
    outline: none;
}

img{
    width: 50px;
    height: 50px;
}

footer{
    color: white;
    border-top: 5px solid #89f0f0;
    padding: 16px;
    align-items: center;
    background-color: #89aff0;
    text-align: center;
}

footer span{
    display: block;
    margin: auto;
    width: 80%; 
}

button:hover{
    transition: 0.7s;
    background-color: #89aff0;
    color: white;
}